<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION"
        android:maxSdkVersion="33"
        tools:ignore="SelectedPhotoAccess" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY"/>
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:name=".GroupFlowApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.GroupFlow"

        tools:targetApi="31">
        <activity
            android:name=".ui.auth.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".ui.appointments.AppointmentsActivity" />
        <activity android:name=".ui.appointments.RequestAppointmentActivity" />
        <activity android:name=".ui.auth.RegisterActivity" />
        <activity android:name=".ui.hubs.EmployeeHubActivity" />
        <activity android:name=".ui.info.ClinicInfoActivity" />
        <activity android:name=".ui.info.DoctorInfoActivity" />
        <activity android:name=".ui.profile.UserProfileActivity" />
        <activity android:name=".ui.reviews.ReviewsActivity" />
        <activity android:name=".ui.reviews.LeaveReviewActivity" />
        <activity android:name=".ui.ultrascans.UltrascansActivity" />
        <activity android:name=".ui.ultrascans.UploadUltrascanActivity" />
        <activity android:name=".ui.NotificationsActivity" />
    </application>

</manifest>